<!DOCTYPE html>
<html lang="pl-PL">
	<head>
    <meta charset="utf-8">
<link href="{{ url_for('static', filename='syle.css') }}" rel="stylesheet" type="text/css" >
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <body>
    <div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top" >
        <ul class="navbar-nav">
	    <li class="nav_item">
        <a class="nav-link" href="/"> Strona główna </a></li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('manage_appointments') }}">Zarządzaj wizytami</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('login') }}">Zaloguj się</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('logout') }}">Wyloguj się</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('register') }}">Zarejestruj się</a>
        </li>
        </ul>


        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('authors') }}">Autorzy</a>
        </li>


    </nav>
    </div>
		{% with messages = get_flashed_messages() %}
        	{% if messages %}
        	<ul>
            		{% for message in messages %}
            		<li>{{ message }}</li>
            		{% endfor %}
        	</ul>
        	{% endif %}
        	{% endwith %}
        	{% block content %}{% endblock %}
    </body>
</html>