	{% extends "base.html" %}
{% block content %}
<html lang="en">
  <head>
    <!-- styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    <div class="page-header">
      <h2>Dostępne wizyty</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <table class="table table-striped" id="owned_stock_table">
          <thead>
            <tr>
              <th>ID wizyty</th>
              <th>Termin</th>
              <th>Typ wizyty</th>
              <th>Finansowanie</th>
            </tr>
          </thead>
          <tbody>
            {% for appointment in appointmentsToChoose %}
	    <tr>
              <td>{{ appointment.id }}</td>
              <td>{{ appointment.termin  }}</td>
              <td>{{ appointment.typ_wizyty }}</td>
	          <td>{{ appointment.finansowanie_id }}</td>
	    </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
     </div><!-- /.container -->
        <h3>Wybierz, na którą wizytę chcesz się zapisać</h3>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.id.label }}<br>
                {{ form.id }}<br>
            </p>
            <p>{{ form.submit() }}</p>

        </form>

      <div class="page-header">
      <h4>Wizyty, na które jesteś zapisany</h4>
    </div>
    <div class="row">
      <div class="col-md-4">
        <table class="table table-striped" id="owned_stock_table">
          <thead>
            <tr>
              <th>ID wizyty</th>
              <th>Termin</th>
              <th>Typ wizyty</th>
              <th>Finansowanie</th>
            </tr>
          </thead>
          <tbody>
            {% for appointment in appointmentsThisPatientRegistrated %}
	    <tr>
              <td>{{ appointment.id }}</td>
              <td>{{ appointment.termin  }}</td>
              <td>{{ appointment.typ_wizyty }}</td>
	          <td>{{ appointment.finansowanie_id }}</td>
	    </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
     </div><!-- /.container -->

  </body>
{% endblock content %}