{% extends "base.html" %}
<meta charset="UTF-8">
{% block content %}
    <h1>Rejestracja</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.imie.label }}<br>
            {{ form.imie(size=32) }}<br>
            {% for error in form.imie.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.nazwisko.label }}<br>
            {{ form.nazwisko(size=32) }}<br>
            {% for error in form.nazwisko.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.pesel.label }}<br>
            {{ form.pesel(size=32) }}<br>
            {% for error in form.pesel.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.data_uro.label }}<br>
            {{ form.data_uro(size=32) }}<br>
            {% for error in form.data_uro.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}